/************************/
@import url("_basico.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
@import url("template.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
/************************/

.catLogin{
    width:44px;
    height:46px;
    background:url("../img/sp-login.png") no-repeat -6px 0;
}

.pCadastro{
    font-size:13px;
    color:#888888;
    font-family:"vidaloka_regular";
    padding-bottom:30px;
}

#formCadastro{
    width:760px;
}

#formCadastro li{
    height:60px;
    padding-bottom:16px;
}

#formCadastro .divCampo{
    float:left;
}

#formCadastro label{
    display:block;
    padding-bottom:5px;
}

#formCadastro label span{
    color:#d2232a;
}

#formCadastro .divCampo input{
    font-size:11px;
    line-height:14px;
    padding:13px 8px;
    background:#e9e8e4;
}

.divCampoCEP
{width:175px;}

.divCampo
{margin-right:20px;}

.divCampoLast
{margin-right:0;}

#iptNome,
#iptEmail,
#iptBairro,
#iptSenha,
#iptSenhaRepeticao
{width:354px;}

#iptTelefone,
#iptNascimento,
#iptCPF,
#iptRG,
#iptNumero,
#iptComplemento
{width:159px;}

#iptCEP
{width:89px;}

#iptEndereco
{width:549px;}

.divSelCidade,
.divSelEstado{
    width:370px;
    height:40px;
    overflow:hidden;
    background:url("../img/select-cadastro.png") no-repeat 0 0;
    position:relative;
}

.divSelCidade span,
.divSelEstado span{
    position:absolute;
    top:13px;
    left:8px;
    line-height:14px;
    font-size:11px;
}

.divCampo select{
    width:100%;
    height:100%;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-appearance:none;
}

#ckNews{
    margin:0;
    padding:0;
    border:0;
    -webkit-appearance:none;
    opacity:0;
    filter:alpha(opacity=0);
}

.inputCheckboxChecked{
    background-position:-500px 0;
}

.divCheckNews label{
    line-height:18px;
    height:18px;
    background:url("../img/checkbox-personalizado.png") no-repeat 0 -48px;
    padding-left:10px;
    cursor:pointer;
}

.divCheckNews .inputCheckboxChecked{
    background-position:0 2px;
}

#formCadastro .divCheckboxEnviarCadastro{
    height:40px;
    margin-bottom:0;
}

.divCheckNews{
    float:left;
}

.divBtEnviar{
    width:111px;
    height:38px;
    background:url("../img/sp-login.png") no-repeat 0 -57px;
    float:right;
}

#btEnviarDadosCadastro{
    width:111px;
    height:38px;
    background:url("../img/sp-login.png") no-repeat 0 -104px;
    opacity:0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    border: none;

}

#btEnviarDadosCadastro:hover{
    opacity:1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}


/* PRODUTOS VISUALIZADOS */

.produtosVisualizados{
    height:275px;
    padding-bottom:70px;
}

.produtosVisualizados li{
    height:275px;
}

.produtosVisualizados li li{
    float:left;
    margin-right:20px;
}

.produtosVisualizados li .last{
    margin-right:0;
}

.produtosVisualizados li a{
    float:left;
    color:#888888;
    text-decoration: none;
}

.produtosVisualizados li img{
    border:1px solid #d6d6d6;
}

.ttProdutoVisualizado{
    display:block;
    font-family:"vidaloka_regular";
    font-size:13px;
    padding:9px 0 9px 0;
}

.valorPrazoProdutoVisualizado{
    display:block;
}

.deValorProdutoVisualizado{
    font-size:11px;
    text-decoration:line-through;
}

.porValorProdutoVisualizado{
    font-size:11px;
    font-weight:bold;
}

.valorPrazoProdutoVisualizado{
    padding-top:10px;
    font-family:"vidaloka_regular";
    color:#D2232A;
    text-align:center;
    height:34px;
    width:118px;
    margin:0 auto;
}

.numeroVezesProdutoVisualizado{
    font-size:11px;
    float:left;
    padding-top:4px;
}

.numeroVezesProdutoVisualizado span{
    display:block;
    text-align:center;
    font-size:18px;
}

.valorParcelaProdutoVisualizado{
    display:block;
    font-size:38px;
    float:left;
    width:80px;
    text-align:right;
}

.valorParcelaProdutoVisualizado span{
    font-size:13px;
}


.pgProdutosVisualizados{
    padding-top:26px;
    float:right;
    background:#FFF;
}

.pgProdutosVisualizados a {
	display: block;
	float: left;
        overflow:hidden;
	text-indent: -9999px;
	background: url('../img/botoes/navegacao-banner.png') no-repeat 0 0;
	width: 10px;
	height: 10px;
	margin:0 0 0 5px;
}

.pgProdutosVisualizados a.activeSlide {
	background-position: -15px 0;
}

.pgProdutosVisualizados a:focus { outline:none;}

.cabecalhoProdutosVisualizados{
    background:url("../img/backgrounds/bg-linha-produto-relacionado.gif") no-repeat top left;
    height:56px
}

.blocoCadastro{
    margin-bottom:70px;
}

.divMsgSucesso{
    padding:0 100px;
    height:500px;
    display:table;
    background:#f2f2f2;
    text-align:center;
}

.divMsgSucesso div{
    display: table-cell;
    vertical-align: middle;
    *padding-top: 120px;
}

.msgPrimaria{
    font-size:46px;
    color:#5ac1ac;
    font-family:"vidaloka_regular";
    text-transform:uppercase;
    padding-bottom:25px;
}

.msgSecundaria{
    font-size:16px;
    font-family:"vidaloka_regular";
    text-transform:uppercase;
    padding-bottom:38px;
}

.btPaginaInicial{
    width:166px;
    height:38px;
    background:url("../img/botoes/bt-pagina-inicial.png") no-repeat 0 0;
    margin:0 auto;
}

.btPaginaInicial span{
    display:block;
    width:166px;
    height:38px;
    background:url("../img/botoes/bt-pagina-inicial.png") no-repeat bottom left;
    opacity:0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.btPaginaInicial span:hover{
    opacity:1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.cabecalhoProdutosVisualizados{
    position:relative;
}

.ttProdutosVisualizados .produtos{
    font-family:"porcelai";
    font-size:38px;
}

.ttProdutosVisualizados .visualizados{
    font-family:"vidaloka_regular";
    font-size:15px;
    text-transform:uppercase;
    display:block;
    position:absolute;
    top:33px;
    left:83px;
}

.produtosVisualizados li a:hover{
    color:#000;
}


#blocoProdutosVisualizados {
    width: 100%;
}

.produtosVisualizados li.slide {
    position: relative;
    overflow: hidden;
}


.slide ul li {
    width: 175px;
    float: left;
}
