/************************/
@import url("_basico.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
@import url("template.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
/************************/

.catComoComprar{
    width:44px;
    height:46px;
    background:url("../img/sp-como-comprar.png") no-repeat -3px 0;
}


.subMenuComoComprar{
    padding-top:16px;
    height:18px;
    padding-bottom:22px;
}

.subMenuComoComprar li{
    float:left;
    padding-right:7px;
}

.subMenuComoComprar a{
    font-size:13px;
    font-family:"vidaloka_regular";
    color:#000;
    padding-right:6px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.subMenuComoComprar a:hover,
.subMenuComoComprar .selecionado{
    color:#5ac1ac;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

}


.accordionComoComprar {
    width: 761px;
}


.accordionComoComprar li{
    background:#f6f6f6;
    margin-bottom:3px;
    padding:0 13px;
    position:relative;
}

.accordionComoComprar li:hover{
    background:#eeeded;
}

.accordionComoComprar h3{
    height:40px;
    line-height:40px;
    font-family:"vidaloka_regular";
    font-size:15px;
    color:#888888;
    font-weight:normal;
    cursor:pointer;
}

.conteudoAccordion{
    padding-bottom:13px;
    color:#FFF;
    font-size:13px;
    display:none;
}

.btAbrirAccordion{
    width:24px;
    height:24px;
    background:url("../img/sp-como-comprar.png") no-repeat 0 -60px;
    position:absolute;
    top:7px; right:7px;
}

.btAccordionAberto{
    background-position:-39px -60px;
}

.accordionComoComprar .accordionSelecionado,
.accordionComoComprar .accordionSelecionado:hover{
    background:#5ac1ac;
}

.accordionComoComprar .accordionSelecionado,
.accordionComoComprar .accordionSelecionado h3{
    color:#FFF;
}
