/************************/
@import url("_basico.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
@import url("template.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
/************************/

.catComoComprar{
    width:44px;
    height:46px;
    background:url("../img/sp-como-comprar.png") no-repeat -3px 0;
}


.subMenuComoComprar{
    padding-top:16px;
    height:18px;
    padding-bottom:22px;
}

.subMenuComoComprar li{
    float:left;
    padding-right:7px;
}

.subMenuComoComprar a{
    font-size:13px;
    font-family:"vidaloka_regular";
    color:#000;
    padding-right:6px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.subMenuComoComprar a:hover,
.subMenuComoComprar .selecionado{
    color:#5ac1ac;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

}

.blocoCuidadosSeuProduto{
    padding-top:14px;
}

.blocoCuidadosSeuProduto p{
    font-family:"vidaloka_regular";
    font-size:15px;
    color:#888888;
    width:800px;
    line-height:22px;
    padding-bottom:50px;
}

.blocoLimpeza{
    float:left;
    width:433px;
    margin-right:66px;
}

.blocoDanosIrreparaveis{
    width:455px;
    float:left;
}

.blocoLimpeza p,
.blocoDanosIrreparaveis p{
    width:100%;
}

.ttLimpeza,
.ttDanosIrreparaveis{
    font-family:"porcelai";
    display:block;
    font-size:40px;
    color:#888888;
    padding-bottom:8px;
}