/************************/
@import url("_basico.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
@import url("template.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
/************************/

.catInstitucional {
    background:url("../img/icones/institucional.png") no-repeat 0 0;
    width: 44px;
    height: 46px;
}

.blocoInstitucional {
    width: 900px;
    margin: 15px auto 0;
}

.blocoInstitucional .titutoInstitucional {
    font-family: 'porcelai', arial, sans-serif;
    color: #5ac1ac;
    display: block;
    line-height: 100%;
}

.blocoInstitucional .titutoInstitucionalMenor {
    font-size: 45px;
}

.blocoInstitucional .titutoInstitucionalMaior {
    font-size: 70px;
    padding-left: 65px;
    margin-top: -20px;
}

.blocoInstitucional .blocoTexto {
    width: 360px;
    float: left;
    margin-top: 52px;
}

.blocoInstitucional .blocoTexto .textoInstitucional {
    font-family: 'vidaloka_regular', arial, sans-serif;
    color: #888;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 40px;
}


.imagensInstitucionais {
    width: 452px;
    float: right;
    margin-top: 52px;
}

.imagensInstitucionais .imgInstitucional {
    float: left;
    height: 210px;
    margin: 0 0 1px 1px;
}

.imagemInstitucionalAmpliada {
    display: none;
}


/************************
ZOOM IMAGEM INSTITUCIONAL
************************/
#holderInstitucional {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
}

#overlayInstitucional {
    background: url('../img/backgrounds/overlay.png') repeat;
    position: absolute;;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
}

#centralizaImagem {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
}

#contentImagemAmpliada {
    background: url('../img/backgrounds/bg-zoom-institucional.png') no-repeat left bottom;
    width: 609px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.boxImagem {
    position: absolute;
    top: -20px;
    left: 4px;
}


#fecharZoomInstitucional {
    background: url('../img/botoes/fechar-zoom.png') no-repeat;
    position: absolute;
    right: 5px;
    top: -35px;
    width: 60px;
    height: 11px;
}

#fecharZoomInstitucional:hover {
    background-position: 0 -21px;
}


