/************************/
@import url("_basico.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
@import url("template.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
/************************/

.catDesejos {
    background:url("../img/icones/lista-desejos.png") no-repeat 0 0;
    width: 44px;
    height: 46px;
    position: relative;
    top: 10px;
}

.boxListaDesejos {
	width: 956px;
	height: 400px;
	margin: 25px auto 0;
}

.tabelaDesejos {
	width: 100%;
}

.tabelaDesejos .blocoTabela {
	background: #f2f2f2;
	cursor: pointer;
	position: relative;
	line-height: 70px;
}

.tabelaDesejos .titulosTabela {
	height: 20px;
	color: #888;
	font-size: 11px;
	font-weight: normal;
}

.tabelaDesejos .blocoProduto {
	width: 315px;
	text-align: left;
}

.tabelaDesejos .blocoProdutoTitulo a {
	font-family: 'vidaloka_regular', arial, sans-serif;
	font-size: 13px;
	color: #000;
	text-decoration: none;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.tabelaDesejos .blocoProdutoTitulo:hover a {
	color: #d2232a;
}

.tabelaDesejos .imgProdutoLista {
	background: #FFF;
	float: left;
	border: 1px solid #CCC;
	padding: 4px;
	margin-right: 10px;
}

.tabelaDesejos .blocoTabelaValor {
	background: url('../img/backgrounds/lista_desejos.png') no-repeat;
	width: 317px;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
}

.tabelaDesejos .blocoTabelaOpcoes {
	position: relative;
}

.blocoTabelaOpcoes .iconesTabela {
	background: url('../img/icones/lista-desejos.png') no-repeat;
	width: 39px;
	height: 38px;
	float: left;
	position: absolute;
	top: 30px;
	display: block;
}
.blocoTabelaOpcoes .iconeSacola {
	background-position: 0 -93px;
	left: 100px;
}

.blocoTabelaOpcoes .iconeExcluir {
	background-position: 0 -167px;
	left: 165px;
}

.iconeMover {
	background: url('../img/icones/lista-desejos.png') no-repeat 0 -258px;
	width: 181px;
	height: 43px;
	position: absolute;
	top: 15px;
	left: 90px;
	display: none;
}

.blocoProdutoTitulo, .blocoTabelaValor, .blocoTabelaOpcoes {
	padding: 10px !important;

}

td {
	padding: 5px;
	*padding: 20px;
}

.blocoRelative {
	position: relative;
	height: 38px;
	width: 275px;
	margin-left: 0;
}

.boxAbsolute {
	position: absolute;
	top: -10px;
	left: 0;
}

