/************************/
@import url("_basico.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
@import url("template.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
/************************/

.catMeusPedidos{
    width:44px;
    height:46px;
    background:url("../img/sp-login.png") no-repeat -6px 0;
}

.subMenuMinhaConta{
    padding-top:16px;
    height:18px;
    padding-bottom:22px;
}

.subMenuMinhaConta li{
    float:left;
    padding-right:7px;
}

.subMenuMinhaConta a{
    font-size:13px;
    font-family:"vidaloka_regular";
    color:#000;
    padding-right:6px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.subMenuMinhaConta a:hover,
.subMenuMinhaConta .selecionado{
    color:#5ac1ac;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.accordionMinhaConta{
    width: 761px;
}

.accordionMinhaConta li{
    background:#f6f6f6;
    margin-bottom:3px;
    padding:0 13px;
    position:relative;
    display: block;
    width: 734px;
}

.accordionMinhaConta li:hover{
    background:#eeeded;
}

.accordionMinhaConta h3{
    height:40px;
    line-height:40px;
    font-family:"vidaloka_regular";
    font-size:15px;
    color:#888888;
    font-weight:normal;
    cursor:pointer;
}

.conteudoAccordion{
    padding-bottom:13px;
    color:#FFF;
    font-size:13px;
    display:none;
}

.btAbrirAccordion{
    width:24px;
    height:24px;
    background:url("../img/sp-como-comprar.png") no-repeat 0 -60px;
    position:absolute;
    top:7px; right:7px;
}

.btAccordionAberto{
    background-position:-39px -60px;
}

.accordionMinhaConta .accordionSelecionado,
.accordionMinhaConta .accordionSelecionado:hover{
    background:#5ac1ac;
}

.accordionMinhaConta .accordionSelecionado,
.accordionMinhaConta .accordionSelecionado h3{
    color:#FFF;
}

.statusMinhaConta{
    position:absolute;
    right:50px;
    top:0px;
}

.accordionMinhaConta .statusMinhaConta li{
    font-size:13px;
    color:#cccccc;
    font-family: "vidaloka_regular";
    background:none;
    float:left;
    padding:0;
    text-transform:uppercase;
    padding-right:5px;
    line-height:40px;
    width: auto;
}

.accordionMinhaConta .statusMinhaConta li span{
    color:#888888;
}

.accordionMinhaConta .statusMinhaConta .statusOk{
    color:#5ac1ac;
}


.accordionMinhaConta .accordionSelecionado .statusMinhaConta li{
    color:#9dddd0;
}

.accordionMinhaConta .accordionSelecionado .statusMinhaConta .statusOk,
.accordionMinhaConta .accordionSelecionado .statusMinhaConta li span{
    color:#FFF;
}

.tabelaPedido{
    margin-top:30px;
    margin-bottom:20px;
    visibility:hidden;
    opacity:0;
}

.tabelaPedido thead td{
    color:#FFF;
    font-size:11px;
    text-align:center;
}

.tabelaPedido thead td{
    padding-bottom:10px;
}

.tabelaPedido thead .colProduto{
    width:236px;
    text-align:left;
    text-indent: 13px;
}

.tabelaPedido thead .colValor{
    width:132px;
}

.tabelaPedido thead .colTamanho{
    width:117px;
}

.tabelaPedido thead .colQuantidade{
    width:113px;
}

.tabelaPedido thead .colSubtotal{
    width:133px;
}

.tabelaPedido tbody td{
    background:#FFF;
    padding:10px 13px;
    height:70px;
    vertical-align: middle;
}

.tabelaPedido tbody .colProduto img{
    float:left;
    border:1px solid #CCC;
    margin-right:9px
}

.tabelaPedido .colProduto,
.tabelaPedido .colValor,
.tabelaPedido .colTamanho,
.tabelaPedido .colQuantidade{
    border-right:1px solid #5ac1ac;
}

.tabelaPedido tbody td{
    color:#000;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    border-bottom:1px solid #5ac1ac;
}

.tabelaPedido tbody .colProduto{
    text-align:left;
}

.tabelaPedido tbody .colProduto span{
    font-family:"vidaloka_regular";
    font-size:13px;
    display:table;
    font-weight:normal;
}

.tabelaPedido tbody .colProduto span span{
    display:table-cell;
    vertical-align:middle;
}

.dadosEntrega{
    float:left;
    width:415px;
    padding-left:20px;
}

.valorTotal{
    float:right;
    width:239px;
}

.ttEnderecoEntrega{
    font-family:"vidaloka_regular";
    color:#FFF;
    font-size:13px;
    display:block;
    padding-bottom:15px;
}

.dadosEntrega ul li{
    background:none;
    padding:0;
    width: auto;
}

.dadosEntrega .ttDadosPrazo{
    display:block;
    text-transform:uppercase;
    color:#000;
    font-family:"vidaloka_regular";
    padding-bottom:10px;
}

.dadosEntrega .endereco{
    display:block;
    font-size:13px;
    line-height:18px;
}

.dadosEntrega ul li{
    padding-bottom:20px;
    width: auto;
}

.dadosEntrega ul li:hover{
    background:none;
}

.ttCampo{
    float:left;
    padding-left:69px;
    text-align: left;
}

.valorTotal li,
.valorTotal li:hover{
    background:url("../img/backgrounds/bg-valores-meus-pedidos.jpg") repeat-x top left;
    padding:0;
    line-height:54px;
    height:54px;
    margin-bottom:9px;
    width: auto;
}

.valorTotal li span{
    line-height:54px;
    font-size:11px;
    text-transform:uppercase;
    display:block;
    float:left;
}

.valorTotal li .ttValor{
    font-size:15px;
}

.valorTotal li  .ttValor{
    padding-left:35px;
    text-align: right;
    float:right;
    padding-right:7px;
}

.valorTotal .last{
    background:none;
    margin-bottom:0;
}

.valorTotal .last span{
    float:none;
    display:block;
    text-align: right;
    font-size:22px;
    font-family:"vidaloka_regular";
    color:#000;
    padding-right:7px;
}

.statusMinhaConta{
    cursor:pointer;
}



.dadosEntregaValorTotal {
    width: 100%;
    *float: left;
    background: #5AC1AC;
}
