/************************/
@import url("_basico.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
/************************/


html, body {
	height: 100%;
}

/*--------------------------
 FONTES
 ------------------------*/


/*-----------------------
	CENTRALIZAR CONTEUDO
----------------------*/
.container {
	width: 955px;
	margin: 0 auto;
	position: relative;
}

/*-----------------------
	TOPO
----------------------*/
#topo {
}

#topo .menuTopo {
	background: url('../img/backgrounds/bg-topo.jpg') repeat-x;
	height: 105px;
}

#topo .boxLogo {
	width: 204px;
	height: 27px;
	float: left;
	margin-top: 18px;
}

#topo .boxLogo .logo {
	background: url('../img/logos/logo.png') no-repeat;
	width: 204px;
	height: 27px;
}

#topo .menu {
	float: right;
	margin-top: 20px;
}

#topo .menu .liMenu {
	float: left;
}

#topo .bannerHome {
	background: #f4f4f4;
	height: 311px;
}

/*-----------------------
	RODAPÉ
----------------------*/
#rodape {
}
