/************************/
@import url("_basico.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
@import url("template.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
/************************/

.navegacaoAuxiliar{
    padding:30px 0 12px 0;
}

.btVoltar{
    font-size:11px;
    font-family:"vidaloka_regular";
    color:#4c4c4c;
    text-transform:uppercase;
    text-decoration:none;
    float:left;
    line-height:17px;
    height:17px;
    background:url("../img/sp-produto-detalhe.png") no-repeat -133px 0;
    padding-left:20px;
}

#migalhaPao{
    float:left;
    margin-left:8px;
    padding-left:10px;
    border-left:1px solid #ACACAC;
    height:11px;
    line-height:11px;
    margin-top:2px;
}

#migalhaPao li{
    float:left;
    padding-right:10px;
    background:url("../img/icones/seta-migalha-de-pao.png") no-repeat right center;
    margin-right:10px;
}

#migalhaPao .last{
    margin-right:0;
    background:none;
}

#migalhaPao a{
    text-decoration:underline;
    color:#ACACAC;
    font-size:10px;
}

.cabecalhoProduto{
    background:url("../img/backgrounds/bg-linha-cabecalhos.gif") no-repeat left top;
}

.ttProduto{
    font-size:22px;
    font-family:"vidaloka_regular";
    font-weight:normal;
    text-transform:uppercase;
    float:left;
    padding:18px 20px 0 0;
    background:#FFF;
}

.cabecalhoProduto{
    height:47px;
    padding-bottom:7px;
}

.catBolsa{
    width:55px;
    height:47px;
    background:url("../img/sp-produto-detalhe.png") no-repeat -133px -176px;
    float:right;
}

#galeriaProduto{
    clear: both;
    float:left;
    width:479px;
    padding-right:20px;
}

#galeriaProduto .lkGaleria{
    border:1px solid #d6d6d6;
    display:block;
}

.infosProduto{
    float:left;
    width:456px;
}

.ulAuxiliarCompra{
    height:20px;
    padding-bottom:40px;
}

.ulAuxiliarCompra li{
    float:left;
    margin-right:30px;
}

.ulAuxiliarCompra a{
    text-transform:uppercase;
    text-decoration:none;
    color:#5ac1ac;
    font-family:"vidaloka_regular";
    font-size:11px;
    line-height:11px;
    background:url("../img/sp-produto-detalhe.png") no-repeat -198px -228px;
    display:block;
    padding:6px 0 3px 24px;
}

.descricaoProduto{
    font-size:13px;
    color:#888888;
    line-height:18px;
    padding-bottom:40px;
}