/************************/
@import url("_basico.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
@import url("template.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
/************************/

.cabecalhoInternaSacola {
    background:url("../img/backgrounds/bg-linha-sacola.jpg") no-repeat left center;
    height: 47px;
    padding-bottom: 7px;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 10px;
}

.ttCabecalhoSacola{
    font-size:22px;
    font-family:"vidaloka_regular";
    font-weight:normal;
    text-transform:uppercase;
    float:left;
    padding:12px 20px 0 0;
    background:#FFF;
}

.blocoIconesSacola {
	position: relative;
	float: right;
}

.iconeSacola {
	background: url('../img/icones/sacola-compras.png') no-repeat;
	width: 45px;
	height: 46px;
	float: left;
	margin-left: -1px;
	display: block;
}

.iconeSacola1 {
	background-position: 0 -9px;
}

.iconeSacola2 {
	background-position: -75px -9px;
	margin-top: 2px;
}

.iconeSacola3 {
	background-position: -145px -9px;
	margin-top: 2px;
	margin-left: -4px;
}

.iconeSacola4 {
	background-position: -214px 0px;
	margin-top: -7px;
	margin-left: -6px;
}

.boxListaSacola {
	width: 956px;
	height: 400px;
	margin: 25px auto 0;
}

.tabelaSacola {
	width: 100%;
}

.tabelaSacola .blocoTabela {
	background: #f2f2f2;
	cursor: pointer;
	position: relative;
}

.tabelaSacola .titulosTabela {
	height: 20px;
	color: #888;
	font-size: 11px;
	font-weight: normal;
}

.tabelaSacola .titulosTabelaProduto {
	text-align: left !important;
}

.tabelaSacola .blocoProduto a {
	font-family: 'vidaloka_regular', arial, sans-serif;
	font-size: 13px;
	color: #000;
	text-decoration: none;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.tabelaSacola .blocoProduto:hover a {
	color: #d2232a;
}

.blocoProduto {
	width: 277px;
}

.tabelaSacola .imgProdutoLista {
	background: #FFF;
	float: left;
	border: 1px solid #CCC;
	padding: 4px;
	margin-right: 10px;
}

.tabelaSacola .blocoCenter {
	text-align: center;
}


.tabelaProduto {
	display: table;
}

.tabelaProduto .tituloProduto {
	vertical-align: middle;
	display: table-cell;
	*line-height: 70px;
}

.tabelaSacola .blocoValor {
	background: url('../img/backgrounds/divisor-tabela.png') no-repeat top left;
	width: 148px;
	padding-left: 30px;
}

.tabelaSacola .blocoTamanho {
	background: url('../img/backgrounds/divisor-tabela.png') no-repeat top left;
	width: 148px;
}

.blocoRelative {
	position: relative;
	height: 25px;
	width: 85px;
	margin-left: 50px;
}

.boxAbsolute {
	position: absolute;
	top: 2px;
	left: 0;
}


.divSelTamanho {
	background: url("../img/backgrounds/select-sacola.png") no-repeat 0 0;
    width: 70px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.divSelTamanho span {
    position: absolute;
    top: 7px;
    left: 8px;
    line-height: 14px;
    font-size: 11px;
    font-weight: bold;
}

.divSelTamanho select {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter:alpha(opacity= 0);
    -webkit-appearance: none;
    *top: -18px;
}


.tabelaSacola .blocoQuantidade {
	background: url('../img/backgrounds/divisor-tabela.png') no-repeat top left;
	width: 130px;
}

.blocoQuantidade .inputQuantidade {
	background: url('../img/backgrounds/input-quantidade.png') no-repeat;
	width: 40px;
	height: 25px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 25px;
	font-size: 10px;
	font-weight: bold;
}

.blocoRelativeQuantidade {
	position: relative;
	height: 25px;
	width: 85px;
	margin-left: 50px;
}

.boxAbsoluteQuantidade {
	position: absolute;
	top: 2px;
	left: 10px;
}

.blocoValorSub {
	background: url('../img/backgrounds/divisor-tabela.png') no-repeat top left;
	width: 100px;
	padding-left: 30px;
}


.blocoOpcoes {
	background: url('../img/backgrounds/divisor-tabela.png') no-repeat top left;
	width: 95px;
	position: relative;
}

.blocoOpcoes .iconesSacola {
	background: url('../img/icones/sacola.png') no-repeat;
	width: 18px;
	height: 18px;
	float: left;
	position: relative;
	z-index: 3
}

.blocoOpcoes .iconeDesejos {
	background-position: 0 0;
	margin: 0 8px 0 27px;
}

.blocoOpcoes .iconeExcluir {
	background-position: 0 -66px;
}

.blocoRelativeOpcoes {
	width: 90px;
	position: relative;
	vertical-align: middle;
	*margin-top: 26px;
}

.hoverDesejos {
	background: url('../img/icones/sacola.png') no-repeat;
	background-position: 0 -130px;
	width: 181px;
	height: 24px;
	position: absolute;
	top: -26px;
	left: -105px;
	display: none;
	z-index: 2;
}

.iconeDesejos:hover {
	background-position: -132px -156px;
}


.tituloTabelaProduto {
	padding-left: 10px;
}

.tituloTabelaValor {
	padding-left: 33px;
}

.tituloTabelaTamanho,
.tituloTabelaQuantidade {
	padding-left: 40px;
}

.tituloTabelaSubTotal {
	padding-left: 43px;
}

.tituloTabelaOpcoes {
	padding-left: 16px;
}

td {
	padding: 10px;
	vertical-align: middle;
}

.separarTabela {
	padding: 5px !important;
}


.blocoAbaixoTabela {
	width: 100%;
	height: 52px;
	border-top: 1px dashed #d7d7d7;
	border-bottom: 1px dashed #d7d7d7;
	position: relative;
	line-height: 54px;
	margin-bottom: 10px;
	*margin-top: 10px;
}

.blocoAbaixoTabela .textoAbaixo {
	min-width: 135px;
	color: #888;
	font-size: 11px;
	font-weight: bold;
	float: left;
}

.blocoAbaixoTabela .relativeInput {
	height: 28px;
	position: relative;
	float: left;
	margin: 12px 10px 0 10px;
}

.blocoAbaixoTabela .inputBlocos {
	background: #e9e8e4;
	width: 110px;
	height: 28px;
	float: left;
	padding: 0 29px 0 15px;
	font-size: 13px;
	color: #888;
}

.blocoAbaixoTabela .btOk {
	background: none;
	position: absolute;
	top: 5px;
	top /*\**/: -14px\9;
	*right: 10px;
	right: 0;
	border: none;
	display: block;
	font-size: 13px;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'vidaloka_regular', arial, sans-serif;
}

.blocoAbaixoTabela .textoCep {
	color: #d2232a;
	font-size: 10px;
	text-decoration: underline;
	float: left;
}

.blocoAbaixoTabela .textoCep:hover {
	text-decoration: none;
}

.blocoAbaixoTabela .boxValor {
	position: absolute;
	right: 0;
}

.blocoAbaixoTabela .boxValor .texto {
	font-size: 11px;
	color: #888;
	font-weight: bold;
	padding-right: 70px;
	text-transform: uppercase;
}

.blocoAbaixoTabela .boxValor .valor {
	font-size: 15px;
	color: #5ac1ac;
	font-weight: bold;
	padding-right: 5px;
	text-transform: uppercase;
}

.blocoAbaixoTabela .textoTotal {
	font-family: 'vidaloka_regular', arial, sans-serif;
	font-size: 22px;
	color: #000;
	text-transform: uppercase;
	float: left;
}

.blocoAbaixoTabela .textoValorTotal {
	font-family: 'vidaloka_regular', arial, sans-serif;
	font-size: 22px;
	color: #d2232a;
	text-transform: uppercase;
	float: right;
}
