/************************/
@import url("_basico.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
/************************/


html, body {
	height: 100%;
	font-family: arial, sans-serif;
	font-size: 11px;
}

/*--------------------------
 FONTES
 ------------------------*/
 @font-face {
    font-family: 'vidaloka_regular';
    src: url('../fontes/vidaloka-regular-webfont.eot');
    src: url('../fontes/vidaloka-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/vidaloka-regular-webfont.woff') format('woff'),
         url('../fontes/vidaloka-regular-webfont.ttf') format('truetype'),
         url('../fontes/vidaloka-regular-webfont.svg#vidaloka_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandbook';
    src: url('../fontes/quicksand_book-webfont.eot');
    src: url('../fontes/quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/quicksand_book-webfont.woff') format('woff'),
         url('../fontes/quicksand_book-webfont.ttf') format('truetype'),
         url('../fontes/quicksand_book-webfont.svg#quicksandbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandlight';
    src: url('../fontes/quicksand_light-webfont.eot');
    src: url('../fontes/quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/quicksand_light-webfont.woff') format('woff'),
         url('../fontes/quicksand_light-webfont.ttf') format('truetype'),
         url('../fontes/quicksand_light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'porcelai';
    src: url('../fontes/porcelai-webfont.eot');
    src: url('../fontes/porcelai-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/porcelai-webfont.woff') format('woff'),
         url('../fontes/porcelai-webfont.ttf') format('truetype'),
         url('../fontes/porcelai-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*-----------------------
	CENTRALIZAR CONTEUDO
----------------------*/
.container {
	width: 955px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 70px;
}

/*-----------------------
	TOPO
----------------------*/
#topo {
	position: relative;
	z-index: 999;
}

#topo .menuTopo {
	background: url('../img/backgrounds/bg-topo.jpg') repeat-x;
	height: 105px;
	position: relative;
	z-index: 9999;
}

#topo .boxLogo {
	width: 204px;
	height: 27px;
	float: left;
	margin-top: 19px;
}

#topo .boxLogo .logo {
	background: url('../img/logos/logo.png') no-repeat;
	width: 204px;
	height: 27px;
}

#topo .menu {
	float: right;
	margin-top: 16.4px;
}

#topo .menu .liMenu {
	background: url('../img/backgrounds/bg-li-menu.png') center right no-repeat;
	float: left;
	padding: 0 22px 0 12px;
	min-height: 36px;
	line-height: 36px;
	position: relative;
}

#topo .menu .liMenuPrimeiro {
	padding-left: 0;
	line-height: 36px;
}

#topo .menu .liMenuUltimo {
	background: none;
	padding-right: 0;
}

#topo .menu .textoMenu {
	color: #888;
}

#topo .menu .linkMenu {
	font-family: 'vidaloka_regular', arial, sans-serif;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#topo .menu .linkMenuDisplay {
	display: block;
}

#topo .menu .linkMenu:hover {
	color: #d2232a;
}

#topo .menu .numeroItens,
#topo .menu .linkMenuSacola {
	background: url('../img/icones/icones.png') top right no-repeat;
}

#topo .menu .linkMenuSacola {
	padding-right: 40px;
}

#topo .menu .numeroItens {
	background-position: 0 -77px;
	width: 21px;
	height: 21px;
	position: absolute;
	top: 0px;
	right: 15px;
	font-family: 'vidaloka_regular', arial, sans-serif;
	font-size: 10px;
	color: #FFF;
	text-align: center;
	line-height: 22px;
}



/*--------------------------
 SACOLA DE COMPRAS
 ------------------------*/
.boxSacolaCompras {
	background: url('../img/backgrounds/bg-sacola.png') no-repeat;
	width: 407px;
	height: 287px;
	height: 0;
	z-index: 1000;
	overflow: hidden;
	position: absolute;
	top: 35px;
	right: 0;
	z-index: 9999;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.btCompras:hover .boxSacolaCompras {
	height: 287px;
}

.boxSacolaCompras .listaItens {
	width: 380px;
	height: 160px;
	overflow: hidden;
	margin: 18px 0 0 14px;
}

.listaItens .liItens {
	width: 100%;
	height: 70px;
	display: block;
	position: relative;
	line-height: 70px;
	margin-bottom: 10px;
}

.liItens .linkProduto {
	float: left;
	text-decoration: none;
}

.linkProduto .imgSacola {
	width: 60px;
	height: 60px;
	padding: 5px;
	border: 1px solid #CCC;
	float: left;
	margin-right: 9px;
}

.linkProduto .tituloProduto {
	font-family: 'vidaloka_regular', arial, sans-serif;
	font-size: 13px;
	color: #888;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.linkProduto:hover .tituloProduto {
	color: #d2232a;
	text-decoration: underline;
}

.precoProduto {
	font-family: 'Arial', sans-serif;
	font-size: 11px;
	color: #888;
	font-weight: bold;
	position: absolute;
	right: 25px;
}

.excluirProduto {
	background: url('../img/botoes/botao-excluir-sacola.png') no-repeat;
	width: 17px;
	height: 17px;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.excluirProduto:hover {
	background-position: 0 -23px;
}


.boxSubTotal {
	width: 380px;
	height: 32px;
	margin: 2px auto 0;
	line-height: 32px;
	position: relative;
	border-top: 1px dashed #e7e7e7;
	border-bottom: 1px dashed #e7e7e7;
}

.boxSubTotal .textoSubtotal,
.boxSubTotal .textoValorSubtotal {
	font-family: 'Arial', sans-serif;
	font-weight: bold;
}

.boxSubTotal .textoSubtotal {
	font-size: 11px;
	color: #000;
	text-transform: uppercase;
	float: left;
}

.boxSubTotal .textoValorSubtotal {
	font-size: 15px;
	color: #d2232a;
	float: right;
}


.boxVoltarContinuar {
	width: 380px;
	height: 38px;
	margin: 23px auto 0;
}

.boxVoltarContinuar .continuarCompra {
	background: url('../img/botoes/botao-continuar-comprando.png') no-repeat left center;
	background-position: 0 0;
	height: 17px;
	line-height: 18px;
	padding-left: 20px;
	display: block;
	margin-top: 6px;
	float: left;
	font-family: 'vidaloka_regular', arial, sans-serif;
	color: #737373;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.boxVoltarContinuar .continuarCompra:hover {
	background-position: 0 -28px;
	color: #d2232a;
}

.finalizarCompra {
	background: url('../img/botoes/botao-comprar.png') no-repeat;
	width: 194px;
	height: 38px;
	float: right;
}

.finalizarCompra .finalizarComprahover {
	background: url('../img/botoes/botao-comprar.png') no-repeat;
	background-position: 0 -60px;
	width: 194px;
	height: 38px;
	display: block;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.finalizarCompra:hover .finalizarComprahover {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100)
}


.menuCategorias {
	position: absolute;
	top: 80px;
	left: 0;
}

.menuCategorias .liCategorias {
	float: left;
	margin-right: 18px;
}

.menuCategorias .liCategoriasUltimo {
	margin-right: 0;
}

.menuCategorias .liCategorias .linkCategoria {
	font-family: 'vidaloka_regular', arial, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.menuCategorias .liCategorias .linkCategoria:hover {
	color: #d2232a;
}

/*-----------------------
	FORUMLÁRIO DE BUSCA
----------------------*/
#buscaForm {
	width: 185px;
	height: 28px;
	position: absolute;
	top: 72px;
	right: 0;
	z-index: 0;
}

#buscaForm .relative {
	position: relative;
}

#buscaForm .label {
	position: absolute;
	top: 8px;
	left: 10px;
	color: #888;
	font-size: 11px;
}

#buscaForm .inputBusca {
	background: #e9e8e4;
	width: 145px;
	height: 14px;
	border: none;
	font-family: arial, sans-serif;
	color: #888;
	font-size: 11px;
	line-height: 14px;
	padding: 6px 30px 6px 10px;
}

#buscaForm .botaoBuscar {
	background: url('../img/botoes/botao-buscar.png') no-repeat;
	border: none;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 5px;
	right: 5px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	cursor: pointer;
}

#buscaForm .botaoBuscar:hover {
	background-position: 0 -23px;
}


/*-----------------------
	RODAPÉ
----------------------*/
#rodape {
	background: url('../img/backgrounds/bg-rodape.png') repeat-x;
	height: 389px;
	padding-top: 60px;
	position: relative;
	overflow: hidden;
}

#rodape .blocoLinks {
	position: relative;
	height: 145px;
}

#rodape .logoRodape {
	background: url('../img/logos/logo-rodape.png') no-repeat;
	width: 123px;
	height: 16px;
	position: absolute;
	right: 0;
	bottom: 40px;
}

#rodape .boxLinksRodape {
	float: left;
	width: 305px;
	margin-right: 20px;
}

#rodape .boxLinksRodapeUltimo {
	margin-right: 0;
}

#rodape .boxLinksRodape .tituloBloco {
	font-family: 'vidaloka_regular', arial, sans-serif;
	font-size: 18px;
	color: #FFF;
	text-transform: uppercase;
	padding-bottom: 20px;
	display: block;
}

#rodape .boxLinksRodape .liLista {
	background: url('../img/icones/lista-rodape.png') no-repeat left center;
	padding-left: 10px;
	display: block;
	margin-bottom: 10px;
}

#rodape .boxLinksRodape .liLista .linkLista {
	font-family: 'vidaloka_regular', arial, sans-serif;
	color: #AAA;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#rodape .boxLinksRodape .liLista .linkLista:hover {
	text-decoration: underline;
	color: #DDD;
}

#rodape .blocoPagamentoRedes {
	border-top: 1px solid #393939;
	border-bottom: 1px solid #393939;
	height: 62px;
}

#rodape .blocoPagamentoRedes .box {
	background: url('../img/backgrounds/bg-li-rodape.png') no-repeat right center;
	float: left;
	height: 62px;
	position: relative;
}



/*-----------------------
	FORMAS DE PAGAMENTO
----------------------*/
#rodape .blocoPagamentoRedes .boxFormasPagamento {
	width: 355px;
}

#rodape .blocoPagamentoRedes .box .linkBox {
	text-decoration: none;
}

#rodape .blocoPagamentoRedes .box .titulo {
	font-family: 'vidaloka_regular', arial, sans-serif;
	color: #FFF;
	display: block;
}

#rodape .blocoPagamentoRedes .box .tituloMenor {
	padding: 18px 0 3px;
	font-size: 13px;
}

#rodape .blocoPagamentoRedes .box .tituloMaior {
	font-size: 14px;
	text-transform: uppercase;
	padding-left: 15px;
}

#rodape .listaPagamento {
	position: absolute;
	top: 20px;
	left: 105px;
}

#rodape .listaPagamento .liPagamento {
	float: left;
	margin-left: 3px;
}

#rodape .listaPagamento .liPagamento .iconePagamento {
	background: url('../img/icones/pagamentos.png') no-repeat;
	width: 41px;
	height: 27px;
	display: block;
}

#rodape .listaPagamento .liPagamento .iconePagamento1 {
	background-position: 0 0;
}

#rodape .listaPagamento .liPagamento .iconePagamento2 {
	background-position: -44px 0;
}

#rodape .listaPagamento .liPagamento .iconePagamento3 {
	background-position: -88px 0;
}

#rodape .listaPagamento .liPagamento .iconePagamento4 {
	background-position: -132px 0;
}



/*-----------------------
	ÚLTIMAS DO0 BLOG
----------------------*/
#rodape .blocoPagamentoRedes .boxBlog {
	width: 211px;
	margin-left: 53px;
}


/*-----------------------
	REDES SOCIAS
----------------------*/
#rodape .blocoPagamentoRedes .boxSocial {
	background: none;
	float: right;
	width: 290px;
}

#rodape .boxSocial .listaSocial {
	position: absolute;
	top: 13px;
	right: 0;
}

#rodape .boxSocial .listaSocial .liSocial {
	float: left;
	margin-left: 9px;
}

#rodape .boxSocial .listaSocial .liSocial .iconeSocial {
	background: url('../img/icones/social.png') no-repeat;
	width: 34px;
	height: 34px;
	float: left;
	display: block;
}


.iconeSocial .iconeSocialhover {
	background: url('../img/icones/social.png') no-repeat;
	width: 34px;
	height: 34px;
	display: block;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}


.iconeSocial:hover .iconeSocialFacebookhover,
.iconeSocial:hover .iconeSocialTwitterhover,
.iconeSocial:hover .iconeSocialInstagramhover {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

#rodape .boxSocial .listaSocial .liSocial .iconeSocialTwitter  {
	background-position: -43px 0;
}

#rodape .boxSocial .listaSocial .liSocial .iconeSocialInstagram  {
	background-position: -86px 0;
}

.iconeSocial .iconeSocialFacebookhover {
	background-position: 0 -50px;
}

.iconeSocial .iconeSocialTwitterhover {
	background-position: -43px -50px;
}

.iconeSocial .iconeSocialInstagramhover {
	background-position: -86px -50px;
}



.boxTextoRodape {
	text-align: center;
	margin-top: 40px;
}

.boxTextoRodape .textoRodape {
	font-size: 10px;
	color: #666666;
	line-height: 13px;
}

.boxTextoRodape .textoRodapeComprar {
	padding-bottom: 25px;
}

.boxTextoRodape .textoRodapeComprar,
.boxTextoRodape .textoRodapeDireitos {
	display: block;
}

.boxTextoRodape .textoRodapeSite {
	color: #FFF;
	text-decoration: none;
}

.boxTextoRodape .textoRodapeSite:hover {
	text-decoration: underline;
}


/*-----------------------
	CADASTRO PARA NOVIDADES
----------------------*/
.boxCadastroNovidades {
	background: #5CC2AC;
	width: 100%;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 999;
}

.boxCadastroNovidadesFixed {
	position: fixed;
}

.boxCadastroNovidades .textoCadastro,
.boxCadastroNovidades .textoFashion {
	color: #FFF;
	float: left;
	display: block;
}

.boxCadastroNovidades .textoFashion {
	background: url('../img/backgrounds/bg-fashion.png') no-repeat right center;
	height: 24px;
	font-family: 'vidaloka_regular', arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	padding-right: 15px;
	line-height: 25px;
	margin-top: 3px;
}

.textoCadastro {
	font-size: 12px;
	margin-left: 10px;
	line-height: 33px;
}

#cadastroForm {
	float: right;
	height: 24px;
	margin-top: 3px;
}

#cadastroForm .relative {
	position: relative;
	float: left;
	margin-left: 3px;
}

#cadastroForm .label {
	position: absolute;
	top: 8px;
	left: 10px;
	color: #888;
	font-size: 11px;
}

#cadastroForm .inputCadastro {
	background: #e9e8e4;
	width: 213px;
	height: 13px;
	border: none;
	font-family: arial, sans-serif;
	color: #000;
	font-size: 11px;
	line-height: 14px;
	padding: 6px 10px;
}

#cadastroForm .botaoCadastro {
	background: #000;
	background: url('../img/botoes/botao-ok.png') no-repeat;
	border: none;
	width: 28px;
	height: 24px;
	display: block;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	cursor: pointer;
}

#cadastroForm .botaoCadastro:hover {
	background-position: 0 -26px;
}


/*
    MIGALHA DE PAO
*/

.navegacaoAuxiliar{
    padding:30px 0 12px 0;
    height: 16px;
}

.btVoltar{
    font-size:11px;
    font-family:"vidaloka_regular";
    color:#4c4c4c;
    text-transform:uppercase;
    text-decoration:none;
    float:left;
    line-height:17px;
    height:17px;
    background:url("../img/sp-produto-detalhe.png") no-repeat -133px 0;
    padding-left:20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.btVoltar:hover{
    color:#d2232a;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background-position:-134px -19px;
}

#migalhaPao{
    float:left;
    margin-left:8px;
    padding-left:10px;
    border-left:1px solid #ACACAC;
    height:11px;
    line-height:11px;
    margin-top:2px;
}

#migalhaPao li{
    float:left;
    padding-right:10px;
    background:url("../img/icones/seta-migalha-de-pao.png") no-repeat right center;
    margin-right:10px;
}

#migalhaPao .last{
    margin-right:0;
    background:none;
}

#migalhaPao a{
    text-decoration:none;
    color:#ACACAC;
    font-size:10px;
}

#migalhaPao a:hover{
    text-decoration:underline;
}

/*
    CABECALHO INTERNAS
*/

.cabecalhoInternas{
    background:url("../img/backgrounds/bg-linha-cabecalhos.gif") no-repeat left top;
    height:47px;
    padding-bottom:7px;
    position: relative;
    z-index: 1;
}

.ttCabecalho{
    font-size:22px;
    font-family:"vidaloka_regular";
    font-weight:normal;
    text-transform:uppercase;
    float:left;
    padding:18px 20px 0 0;
    background:#FFF;
}

.categoria{
    float:right;
}

