/************************/
@import url("_basico.css"); /* CHAMADA PARA ARQUIVO DE RESET, BIBLIOTECA DE ESTILO E FORMATAÇÃO PADRÃO DE FORMULÁRIO */
/************************/


html, body {
	height: 100%;
	font-family: arial, sans-serif;
	font-size: 11px;
}

/*--------------------------
 FONTES
 ------------------------*/
 @font-face {
    font-family: 'vidaloka_regular';
    src: url('../fontes/vidaloka-regular-webfont.eot');
    src: url('../fontes/vidaloka-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/vidaloka-regular-webfont.woff') format('woff'),
         url('../fontes/vidaloka-regular-webfont.ttf') format('truetype'),
         url('../fontes/vidaloka-regular-webfont.svg#vidaloka_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandbook';
    src: url('../fontes/quicksand_book-webfont.eot');
    src: url('../fontes/quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/quicksand_book-webfont.woff') format('woff'),
         url('../fontes/quicksand_book-webfont.ttf') format('truetype'),
         url('../fontes/quicksand_book-webfont.svg#quicksandbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandlight';
    src: url('../fontes/quicksand_light-webfont.eot');
    src: url('../fontes/quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/quicksand_light-webfont.woff') format('woff'),
         url('../fontes/quicksand_light-webfont.ttf') format('truetype'),
         url('../fontes/quicksand_light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*-----------------------
	CENTRALIZAR CONTEUDO
----------------------*/
.container {
	width: 955px;
	margin: 0 auto;
	position: relative;
}

/*-----------------------
	TOPO
----------------------*/
#topo {
}

#topo .menuTopo {
	background: url('../img/backgrounds/bg-topo.jpg') repeat-x;
	height: 105px;
}

#topo .boxLogo {
	width: 204px;
	height: 27px;
	float: left;
	margin-top: 19px;
}

#topo .boxLogo .logo {
	background: url('../img/logos/logo.png') no-repeat;
	width: 204px;
	height: 27px;
}

#topo .menu {
	float: right;
	margin-top: 16.4px;
}

#topo .menu .liMenu {
	background: url('../img/backgrounds/bg-li-menu.png') center right no-repeat;
	float: left;
	padding: 0 22px 0 12px;
	min-height: 36px;
	line-height: 36px;
	position: relative;
}

#topo .menu .liMenuPrimeiro {
	padding-left: 0;
	line-height: 33px;
}

#topo .menu .liMenuUltimo {
	background: none;
	padding-right: 0;
}

#topo .menu .textoMenu {
	color: #888;
}

#topo .menu .linkMenu {
	font-family: 'vidaloka_regular', arial, sans-serif;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#topo .menu .linkMenuDisplay {
	display: block;
}

#topo .menu .linkMenu:hover {
	color: #d2232a;
}

#topo .menu .numeroItens,
#topo .menu .linkMenuSacola {
	background: url('../img/icones/icones.png') top right no-repeat;
}

#topo .menu .linkMenuSacola {
	padding-right: 40px;
}

#topo .menu .numeroItens {
	background-position: 0 -77px;
	width: 21px;
	height: 21px;
	position: absolute;
	top: 0px;
	right: 15px;
	font-family: 'vidaloka_regular', arial, sans-serif;
	font-size: 10px;
	color: #FFF;
	text-align: center;
	line-height: 22px;
}

.boxSacolaCompras {
	background: url('../img/backgrounds/bg-sacola.png') no-repeat;
	width: 407px;
	height: 0;
	z-index: 100;
	overflow: hidden;
	position: absolute;
	top: 35px;
	right: 0;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}


.btCompras:hover .boxSacolaCompras {
	height: 287px;
}


/*-----------------------
	RODAPÉ
----------------------*/
#rodape {
	background: url('../img/backgrounds/bg-rodape.png') repeat-x;
	height: 389px;
	padding-top: 60px;
	position: relative;
	overflow: hidden;
}

#rodape .blocoLinks {
	position: relative;
	height: 145px;
}

#rodape .logoRodape {
	background: url('../img/logos/logo-rodape.png') no-repeat;
	width: 123px;
	height: 16px;
	position: absolute;
	right: 0;
	bottom: 40px;
}

#rodape .boxLinksRodape {
	float: left;
	width: 305px;
	margin-right: 20px;
}

#rodape .boxLinksRodapeUltimo {
	margin-right: 0;
}

#rodape .boxLinksRodape .tituloBloco {
	font-family: 'vidaloka_regular', arial, sans-serif;
	font-size: 18px;
	color: #FFF;
	text-transform: uppercase;
	padding-bottom: 20px;
	display: block;
}

#rodape .boxLinksRodape .liLista {
	background: url('../img/icones/lista-rodape.png') no-repeat left center;
	padding-left: 10px;
	display: block;
	margin-bottom: 10px;
}

#rodape .boxLinksRodape .liLista .linkLista {
	font-family: 'vidaloka_regular', arial, sans-serif;
	color: #AAA;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#rodape .boxLinksRodape .liLista .linkLista:hover {
	text-decoration: underline;
	color: #DDD;
}

#rodape .blocoPagamentoRedes {
	border-top: 1px solid #393939;
	border-bottom: 1px solid #393939;
	height: 62px;
}

#rodape .blocoPagamentoRedes .box {
	background: url('../img/backgrounds/bg-li-rodape.png') no-repeat right center;
	float: left;
	height: 62px;
	position: relative;
}



/*-----------------------
	FORMAS DE PAGAMENTO
----------------------*/
#rodape .blocoPagamentoRedes .boxFormasPagamento {
	width: 355px;
}

#rodape .blocoPagamentoRedes .box .linkBox {
	text-decoration: none;
}

#rodape .blocoPagamentoRedes .box .titulo {
	font-family: 'vidaloka_regular', arial, sans-serif;
	color: #FFF;
	display: block;
}

#rodape .blocoPagamentoRedes .box .tituloMenor {
	padding: 18px 0 3px;
	font-size: 13px;
}

#rodape .blocoPagamentoRedes .box .tituloMaior {
	font-size: 14px;
	text-transform: uppercase;
	padding-left: 15px;
}

#rodape .listaPagamento {
	position: absolute;
	top: 20px;
	left: 105px;
}

#rodape .listaPagamento .liPagamento {
	float: left;
	margin-left: 3px;
}

#rodape .listaPagamento .liPagamento .iconePagamento {
	background: url('../img/icones/pagamentos.png') no-repeat;
	width: 41px;
	height: 27px;
	display: block;
}

#rodape .listaPagamento .liPagamento .iconePagamento1 {
	background-position: 0 0;
}

#rodape .listaPagamento .liPagamento .iconePagamento2 {
	background-position: -44px 0;
}

#rodape .listaPagamento .liPagamento .iconePagamento3 {
	background-position: -88px 0;
}

#rodape .listaPagamento .liPagamento .iconePagamento4 {
	background-position: -132px 0;
}



/*-----------------------
	ÚLTIMAS DO0 BLOG
----------------------*/
#rodape .blocoPagamentoRedes .boxBlog {
	width: 211px;
	margin-left: 53px;
}


/*-----------------------
	REDES SOCIAS
----------------------*/
#rodape .blocoPagamentoRedes .boxSocial {
	background: none;
	float: right;
	width: 290px;
}

#rodape .boxSocial .listaSocial {
	position: absolute;
	top: 13px;
	right: 0;
}

#rodape .boxSocial .listaSocial .liSocial {
	float: left;
	margin-left: 9px;
}

#rodape .boxSocial .listaSocial .liSocial .iconeSocial {
	background: url('../img/icones/social.png') no-repeat;
	width: 34px;
	height: 34px;
	float: left;
	display: block;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#rodape .boxSocial .listaSocial .liSocial .iconeSocialFacebook {
	background-position: 0 0;
}

#rodape .boxSocial .listaSocial .liSocial .iconeSocialFacebook:hover{
	background-position: 0 -50px;
}

#rodape .boxSocial .listaSocial .liSocial .iconeSocialTwitter {
	background-position: -44px 0;
}

#rodape .boxSocial .listaSocial .liSocial .iconeSocialTwitter:hover{
	background-position: -44px -50px;
}

#rodape .boxSocial .listaSocial .liSocial .iconeSocialInstagram {
	background-position: -87px 0;
}

#rodape .boxSocial .listaSocial .liSocial .iconeSocialInstagram:hover{
	background-position: -87px -50px;
}

.boxTextoRodape {
	text-align: center;
	margin-top: 40px;
}

.boxTextoRodape .textoRodape {
	font-size: 10px;
	color: #666666;
	line-height: 13px;
}

.boxTextoRodape .textoRodapeComprar {
	padding-bottom: 25px;
}

.boxTextoRodape .textoRodapeComprar,
.boxTextoRodape .textoRodapeDireitos {
	display: block;
}

.boxTextoRodape .textoRodapeSite {
	color: #FFF;
	text-decoration: none;
}

.boxTextoRodape .textoRodapeSite:hover {
	text-decoration: underline;
}


/*-----------------------
	CADASTRO PARA NOVIDADES
----------------------*/
.boxCadastroNovidades {
	width: 100%;
	height: 24px;
	position: relative;
	margin-top: 22px;
}

.boxCadastroNovidades .textoCadastro,
.boxCadastroNovidades .textoFashion {
	color: #FFF;
	float: left;
	display: block;
}

.boxCadastroNovidades .textoFashion {
	background: url('../img/backgrounds/bg-fashion.png') no-repeat right center;
	height: 24px;
	font-family: 'vidaloka_regular', arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	padding-right: 15px;
	line-height: 26px;
}

.textoCadastro {
	font-size: 12px;
	margin-left: 10px;
	line-height: 28px;
}

#cadastroForm {
	float: right;
	height: 24px;
}

#cadastroForm .relative {
	position: relative;
	float: left;
	margin-left: 3px;
}

#cadastroForm .label {
	position: absolute;
	top: 2px;
	left: 10px;
	color: #888;
	font-size: 11px;
}

#cadastroForm .inputCadastro {
	background: #e9e8e4;
	width: 213px;
	height: 14px;
	border: none;
	font-family: arial, sans-serif;
	color: #888;
	font-size: 11px;
	line-height: 14px;
	padding: 6px 10px;
}
